.clientsParam{
  display: none;
}

body {
  background: #384047;
  font-family: sans-serif;
  font-size: 10px;
}

div:not(.mothersParam) {
  background: #fff;
  padding: 1em 5em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}

div h1 {
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: center;
  font-size: 32px;
  color: #666666;
}

div h2 {
  margin: 0 0 20px 0;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #666666;
  border-bottom: solid 1px #e5e5e5;
}

div p, form {
  margin: 0 0 3em 0;
  position: relative;
}
textarea{
  resize: none;
}
div input:not( .userType),
textarea, button{
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
}

div input[type="text"],
div input[type="password"],
div input[type="tel"],
div input[type="date"],
div input[type="email"],
textarea {
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 2px;
}
div input[type="text"]:focus,
div input[type="password"]:focus {
  background: #fff;
}
div span {
  display: block;
  background: #F9A5A5;
  padding: 2px 5px;
  color: #666;
}
div input[type="submit"],
div button {
  background: grey;
  box-shadow: 0 3px 0 0 grey;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px grey;
}
div input[type="submit"]:hover ,
div button:hover{
  background: grey;
  text-shadow: 0 1px 3px;
}
div label {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
}
div label.floatLabel {
  top: -11px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
